<footer class="page-footer">
    <div class="footer">
        <div class="container footer-foot">
            <div class="row py-4 d-flex align-items-center">
                <div class="footer-ref col-md-8 text-right">
                    <a href="#jumbotron">MAIN</a>
                    <a href="#">ABOUT</a>
                    <a href="#game-features">GAME FEATURES</a>
                    <a href="#sys-req">SYSTEM REQUIREMENTS</a>
                    <a href="#">QUOTES</a>
                </div>
                <div class="footer-links col-md-4 text-right">
                    <a href="https://www.facebook.com"><img src="../../public/assets/facebook.svg" alt="fb"></a>
                    <a href="https://www.twitter.com"><img src="../../public/assets/twitter.svg" alt="fb"></a>
                    <a href="https://www.youtube.com"><img src="../../public/assets/twitch.svg" alt="fb"></a>
                    <a href="https://www.twitch.com"><img src="../../public/assets/Vector.svg" alt="fb"></a>
                </div>
            </div>
            <div class="footer-botright col-md-12 text-right">
                <div class="footer-border">
                    <a class="text-white" href="#">Privacy Policy</a>
                </div>
                <div class="footer-border">
                    <a class="text-white" href="#">Terms of Services</a>
                </div>
                <div class="footer-border-2">
                    <a class="text-white" href="#">Code of Conduct</a>
                </div>
            </div>
            <h8> &copy; 2018 Your Games, Inc. All Rights Reserved</h3>
        </div>
    </div>
</footer>
<!-- End of Footer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>